# Files to ignore in Docker build context
**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.lock.json
**/Dockerfile
**/.dockerignore
/temp
/logs
/uploads
wwwroot/uploads
wwwroot/temp
node_modules
.env
.gitattributes
.gitignore
LICENSE
README.md
